<h1>Add Item Menu</h1>

<div class="play-container">
  <form #itemForm="ngForm" (ngSubmit)="addItem(itemForm)">
    <input
      type="text"
      name="itemName"
      id="addName"
      maxlength="100"
      placeholder="Item Name"
      ngModel
    />
    <select id="addType" name="itemType" ngModel>
      <option value="Book">Book</option>
      <option value="CD">CD</option>
    </select>
    <input
      name="itemLoan"
      type="number"
      id="addLoan"
      maxlength="100"
      placeholder="Item Loan Period"
      ngModel
    />
    <button type="submit">Add Item</button>
  </form>
</div>
