<!-- src/app/pages/song/dmca/dmca.component.html -->
<div class="card-body pb-0">
  <app-loading *ngIf="loading"></app-loading>
</div>
<ng-template [ngIf]="utils.isLoaded(loading)">
  <!-- Dmca -->
  <div *ngIf="auth.loggedIn && auth.isAdmin" class="card-body">
    <p class="lead">Log DMCA Information:</p>
    <!-- @TODO: Dmca form (add new Dmca) will go here -->
    <app-dmca-form
      [songId]="songId"
      [songTitle]="songTitle"
      [song]="song"
      (submitReview)="onSubmitDmca($event)"
    ></app-dmca-form>
  </div>
</ng-template>
