<!-- src/app/pages/song/dmca/dmca-form/dmca-form.component.html -->
<form (ngSubmit)="onSubmit()" #dmcaForm="ngForm">
  <!-- Dates -->
  <div class="row">
    <!-- Song Title -->
    <div class="form-group col-sm-12 col-md-6">
      <label for="name">Song Title</label>
      <input
        id="name"
        name="name"
        type="text"
        class="form-control"
        readonly="readonly"
        minlength="3"
        maxlength="24"
        #name="ngModel"
        [(ngModel)]="formDmca.songName"
        required
      />
    </div>
    <!-- Start date -->
    <div class="form-group col-sm-12 col-md-6">
      <label for="startDate">Date Request Received</label>
      <input
        id="startDate"
        type="date"
        class="form-control"
        formControlName="startDate"
      />
    </div>
  </div>
  <div class="row">
    <!-- End date -->
    <div class="form-group col-sm-12 col-md-6">
      <label for="startDate">Date Notice Sent</label>
      <input
        id="startDate"
        type="date"
        class="form-control"
        formControlName="startDate"
      />
    </div>
    <!-- End time -->
    <div class="form-group col-sm-12 col-md-6">
      <label for="startDate">Date Dispute Received</label>
      <input
        id="startDate"
        type="date"
        class="form-control"
        formControlName="startDate"
      />
    </div>
  </div>
  <!-- Submit -->
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!dmcaForm.form.valid || submitting"
    >
      Log Dmca
    </button>
    <app-submitting *ngIf="submitting"></app-submitting>
    <!-- API submission error -->
    <p *ngIf="error" class="mt-3 alert alert-danger">
      <strong>Error:</strong> There was a problem submitting your response.
      Please try again.
    </p>
  </div>
</form>
