<!-- src/app/pages/song/review/review.component.html -->
<div class="card-body pb-0">
  <app-loading *ngIf="loading"></app-loading>
</div>
<ng-template [ngIf]="utils.isLoaded(loading)">
  <ng-template [ngIf]="reviews">
    <!-- Add User Review -->
    <div *ngIf="auth.loggedIn" class="card-body">
      <h3 class="card-title text-center">Submit Review</h3>
      <p class="lead">Fill out the form below to respond:</p>
      <!-- @TODO: Review form (add new Review) will go here -->
      <app-review-form
        [songId]="songId"
        (submitReview)="onSubmitReview($event)"
      ></app-review-form>
    </div>
  </ng-template>
  <!-- All Reviews -->
  <section class="allReviews" *ngIf="showAllReviews">
    <div class="card-body">
      <h3 class="card-title text-center">All Reviews</h3>
      <p *ngIf="!reviews.length" class="lead card-text">
        There are currently no Reviews for this song.
      </p>
    </div>
    <ul *ngIf="reviews.length" class="list-group list-group-flush">
      <li
        class="list-group-item list-group-item-success justify-content-between"
      >
        <strong>Average Rating</strong>
        <span class="badge badge-success badge-pill">{{
          averageRating | number: "1.1-1"
        }}</span>
      </li>
      <li class="list-group-item list-group-item-primary" *ngIf="recent">
        <strong>Most Recent Review</strong><br />
        {{ recent.name }} {{ utils.showRating(recent.rating) }}
        <p *ngIf="recent.comments" class="d-flex w-100">
          <em [innerHTML]="recent.comments"></em>
        </p>
      </li>
      <li class="list-group-item" *ngIf="recent">
        <strong>All Reviews</strong>
      </li>
      <li *ngFor="let review of reviews" class="list-group-item small">
        {{ review.name }} {{ utils.showRating(review.rating) }}
        <p *ngIf="review.comments" class="d-flex w-100">
          <em [innerHTML]="review.comments"></em>
        </p>
      </li>
    </ul>
  </section>
  <!-- Error loading Reviews -->
  <div *ngIf="error" class="card-body">
    <p class="alert alert-danger">
      <strong>Oops!</strong> There was an error retrieving Reviews for this
      song.
    </p>
  </div>
</ng-template>
<!-- Footer showing # of total reviews -->
<div class="card-footer text-right">
  <small *ngIf="totalRating >= 0" class="text-muted">{{
    utils.displayCount(totalReview)
  }}</small>
</div>
