<!-- src/app/pages/song/review/review-form/review-form.component.html -->
<form (ngSubmit)="onSubmit()" #reviewForm="ngForm">
  <!-- Name -->
  <div class="form-group">
    <label for="name">Name</label>
    <input
      id="name"
      default="this.songTitle"
      name="name"
      type="text"
      class="form-control"
      minlength="3"
      maxlength="24"
      #name="ngModel"
      [(ngModel)]="formReview.name"
      required
    />
    <div *ngIf="name.errors && name.dirty" class="small text-danger formErrors">
      <!-- <div [hidden]="!name.errors.required">
        Name is <strong>required</strong>.
      </div>
      <div [hidden]="!name.errors.minlength">
        Name must be 3 characters or more.
      </div> -->
    </div>
  </div>
  <!-- Rating -->
  <div class="formRating form-group row">
    <label for="rating" class="col-12">Song Rating (1-5):</label>
    <input
      id="rating"
      name="rating"
      type="number"
      class="form-control col-sm-12 col-md-3"
      maxlength="1"
      [pattern]="GUESTS_REGEX"
      step="1"
      min="1"
      max="5"
      #rating="ngModel"
      [(ngModel)]="formReview.rating"
    />
    <div
      *ngIf="rating.errors && rating.dirty"
      class="col-12 small text-danger formErrors"
    >
      <!-- <div [hidden]="!rating.errors.pattern">
        Ratings must be an integer from <strong>1-5</strong>.
      </div> -->
    </div>
  </div>
  <!-- Comments -->
  <div class="form-group">
    <label for="comments">Comments:</label>
    <textarea
      id="comments"
      name="comments"
      class="form-control"
      rows="2"
      maxlength="300"
      [(ngModel)]="formReview.comments"
    ></textarea>
  </div>
  <!-- Submit -->
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!reviewForm.form.valid || submitting"
    >
      Submit Review
    </button>
    <app-submitting *ngIf="submitting"></app-submitting>
    <!-- API submission error -->
    <p *ngIf="error" class="mt-3 alert alert-danger">
      <strong>Error:</strong> There was a problem submitting your response.
      Please try again.
    </p>
  </div>
</form>
