<h1 style="text-align:center">DMCA Log</h1>

<section class="list-group">
  <a
    *ngFor="let dmca of dmcaList; let i = index"
    [routerLink]="['/admin/song/update/', dmca.songId]"
    class="list-group-item list-group-item-action flex-column align-items-start"
  >
    <strong>Manager who logged DMCA:</strong> {{ dmca.email }}
    <br />
    <strong>Complaint on Song:</strong> {{ dmca.songTitle }}
    <br />
    <strong>Date Request Received:</strong> {{ dmca.dReqRec | date }}
    <br />
    <strong>Date Notice Sent:</strong> {{ dmca.dNoticeSent | date }}
    <br />
    <strong>Date Dispute Received Sent:</strong> {{ dmca.dDispRec | date }}
    <br />
  </a>
</section>
