<!-- USE FOR ANOTHER PAGE -->
<!-- src/app/pages/home/home.component.html -->

<h1 class="text-center">{{ pageTitle }}</h1>
<app-loading *ngIf="loading"></app-loading>
<ng-template [ngIf]="utils.isLoaded(loading)">
  <ng-template [ngIf]="filteredSongs">
    <ng-template [ngIf]="filteredSongs.length">
      <!-- Search songs -->
      <label class="sr-only" for="search">Search</label>
      <div class="search input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">Search</div>
        </div>
        <input
          id="search"
          type="text"
          class="form-control"
          [(ngModel)]="query"
          (keyup)="searchSongs()"
        />
        <span class="input-group-append">
          <button
            class="btn btn-danger"
            (click)="resetQuery()"
            [disabled]="!query"
          >
            &times;
          </button>
        </span>
      </div>
      <!-- No search results -->
      <p
        *ngIf="fs.noSearchResults(filteredSongs, query)"
        class="alert alert-warning"
      >
        No songs found for <em class="text-danger">{{ query }}</em
        >, sorry!
      </p>
      <!-- Songs listing -->
      <section class="list-group">
        <a
          *ngFor="let song of filteredSongs"
          [routerLink]="['/song/details', song._id]"
          class="list-group-item list-group-item-action flex-column align-items-start"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" [innerHTML]="song.title"></h5>
            <!-- NEED A WAY TO GET THE SONG RATING -->
            <small
              ><strong>Rating: </strong>
              <a
                class="badge badge-success badge-pill"
                style="color:whitesmoke"
                >{{ song.avg | number: "1.1-1" }}</a
              ></small
            >
          </div>
          <p class="font-italic" *ngIf="song.artist" style="margin-bottom:0">
            <strong>Artist:</strong>
            {{ song.artist }}
          </p>
          <p class="font-italic" *ngIf="song.album" style="margin-bottom:0">
            <strong>Album:</strong>
            {{ song.album }}
          </p>
          <p class="font-italic" *ngIf="song.genre" style="margin-bottom:0">
            <strong>Genre:</strong>
            {{ song.genre }}
          </p>
          <p class="font-italic" *ngIf="song.year" style="margin-bottom:0">
            <strong>Year:</strong>
            {{ song.year }}
          </p>
        </a>
      </section>
    </ng-template>
    <!-- No upcoming public songs available -->
    <p *ngIf="!songList.length" class="alert alert-info">
      No songs available.
    </p>
  </ng-template>
  <!-- Error loading songs -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving song data.
  </p>
</ng-template>
